        body {
            background-color: #f0f2f5;
        }
        .profile-picture {
            width: 55px;
            height: 55px;
            border-radius: 30%;
        }
        .story {
            background-image: url('https://i.pinimg.com/736x/bc/57/a2/bc57a2841f4155ef1149a4b68cf36658.jpg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 190px;
            width: 110px;
            border-radius: 6px;
        }
        .color-w{
            color: white;
        }
        .border-1{
            width: 40px;
            height: 50px;
        }
        .text-fb{
            color: #65676b;
            font-size: 14px;
            text-shadow: 0 0 1px rgba(0,0,0,0.1);
        }
        .b-neymar{
            background-image: url('https://mmedia.notitarde.com.ve/20125/neymar-jr-2025-foto-santos-fc-73044.jpeg');
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .b-real{
            background-image: url('https://publish-p47754-e237306.adobeaemcloud.com/adobe/dynamicmedia/deliver/dm-aid--b135b0b1-5726-4eb9-bc01-023756f876c0/SuperCopaEuropa.app.webp?preferwebp=true');
            height: 100%;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-left: 55px;
        }    

        /* @media (max-width: 576px) {
  body{
    /* flex-direction: column; */
    /* height: 500px; */
    /* width: 200px; */
    /* padding: 10px; */
  /* }/ */
/* } / */